* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 65.2%;
}

body {
  background: #2f2e41;
  font-family: 'JetBrains Mono', monospace;
  color: #fff;

  height: 100vh;
  font-size: 1.6rem;
}

.hero {
  width: 110.0rem;
  margin: 7rem auto 2.3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 6.4rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;

  transition: 0.3s;
}

nav ul li a:hover {
  font-weight: bold;
}

span {
  color: #00bfa6;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 10.0rem;
}

main h1 {
  font-size: 3.6rem;
  color: #fff;
}

main p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #c2c2c2;

  margin-top: 6rem;
  text-align: center;

  width: 60.0rem;

  line-height: 2.8rem;
}

main p span {
  font-weight: bold;
}

footer p {
  margin: 16.0rem auto 1.0rem;
  padding-top: 2.5rem;

  font-size: 1.4rem;
  text-align: center;

  border-top: 1px solid #00bfa6;
  width: 57.0rem;
}

footer p a {
  color: #fff;
  text-decoration: none;

  transition: 0.3s;
}

footer p a:hover {
  font-weight: bold;
}

#padlock {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
